*.pyc
*.idea
*.vscode
*.py[cod]
_pycache_/
.DS_Store
.env
venv/
staticfiles/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
ref/
obj/
bin/
logs/
.vs/
web.config
*.pubxml
*.pubxml.user
*.sln
.pyproj
.vscode/
.pytest_cache/
node_modules/
